#logo {
  max-width: 250px;
  margin-top: 100px;
}

#heading {
  margin-top: 100px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  font-size: 14;
}

.btn {
  margin: 0 auto;
  width: 70%;
  margin-bottom: 30px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: medium;
  font-size: 8;
  background-color: #00b159;
  border: none;
}

body {
  background: url("./asset/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.modal-dialog {
  min-height: calc(100vh - 60px);
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}

#mod-img {
  max-width: 200px;
}

#fact {
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #414141;
}

#sub-fact {
  margin-top: 50px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 60px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: medium;
  font-size: 14px;
  color: #7d7d7d;
}

#closeLine {
  margin-top: 10px;
  margin-right: 10px;
  color: #00b159;
}
